@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Open Sans' sans-serif;
    /*color: #ffffff;*/

}

.navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky; /* this has issues with browser compatability, and needs to be addressed eventually */
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-links {
    display: flex;
}

